body, html
{
	width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: #ff6;
	background-color: #000;
	overflow: hidden;
}
.titles
{
	position: absolute;
	left: 200px;
	right: 0px;
	width: 1300px;
	height: 1500px;
	bottom: 0;
    display: flex;
    justify-content: center ;
	font-size: 70px;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(20deg);
}

.titlecontent
{
	position: absolute;
	animation: scroll 100s linear 0s infinite;
}
@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}